@charset "UTF-8";
/* CSS Document */

body{
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif !important;
}


/* Overwrite style.css */
/*#navbar2{
	margin-top: 3.3rem;
	background-color: #005F3C;
	position: fixed;
	z-index: 1001;
	width: 100%;
	color: white;
	padding: 0.4rem 1rem 0.3rem 1rem;
}
#navbar2{
	margin-top: 3.3rem;
	background-color: #F5F7F8;
	position: fixed;
	z-index: 1001;
	width: 100%;
	font-size: 14px;
	padding: 0.4rem 1rem 0.3rem 1rem;
	border-style: solid none solid none;
    border-width: 2px 3px 4px 3px;
    border-color: #e5e5e5 #005F3C #8ECCB6 #005F3C;
}*/
#navbar2{
	margin-top: 3.3rem;
	background-color: #eaeeef;
	position: fixed;
	z-index: 1001;
	width: 100%;
	font-size: 17px;
	height: 2.5rem;
	padding: 0.4rem 1rem 0.3rem 1rem;
}
#navbar2 .navbar2_btn{
	background-color: #eaeeef !important;
	padding: 0.35rem 0.6rem;
	padding-bottom: 0.4rem;
	border-radius: 0.0rem;
	text-decoration: none;
	margin-left: 0.5rem;
}
@media screen and (max-width: 768px) {
  #navbar2 .navbar2_btn{
  	background-color: #F5F7F8 !important;
  	padding: 0.35rem 0.3rem;
  	padding-bottom: 0.3rem;
  	border-radius: 0.2rem;
  	text-decoration: none;
  	transition: all 0.3s ease 0s;
  	margin-left: 0.1rem;
  }
}

#navbar2 .navbar2_btn:hover{
	border-bottom: 2px solid #CCC;
	color: #666;
}
#navbar2 .navbar2_btn_active{
	border-bottom: 2px solid #00B068;
}
#navbar2 .navbar2_btn.active{
	border-bottom: 2px solid #00B068;
}
#navbar2 .navbar2_btn a {
	text-decoration: none;
}
#navbar2 .navbar2_btn a:hover {
	text-decoration: none;
	color: #666;
}


#navbar3{
  height: 2.5rem;
	margin-top: 5.5rem;
	background-color: #8ECCB6;
	position: fixed;
	z-index: 1001;
	width: 100%;
	color: white;
	padding: 0.1rem 1rem 0.2rem 1rem;
}
#navbar3 .navbar3_btn{
	background-color: #8ECCB6;
	border: none;
	z-index: 1;
	color: #005F3C !important;
	padding: 0.35rem 0.3rem;
	padding-bottom: 0.3rem;
	border-radius: 0.2rem;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	/*margin-left: 0.5rem !important;*/
  position: absolute;
  white-space: nowrap !important;
  word-break: keep-all;
}
#navbar3 .navbar3_btn:hover{
	background-color: #005F3C;
  color: #8ECCB6 !important;
}
#navbar3 .navbar3_btn_no_back:hover{
	background-color: #8ECCB6;
  color: white !important;
}


/* End Overwrite */


.post_div{
	background-color: white;
	padding: 0.5rem 0.5rem;
	/*padding-bottom: 0.5rem;*/
	border-radius: 0rem;
  border-bottom: 1px solid #CCC;
}

.post_div .title_link{
	font-size: 1rem;
	color: #1F810B;
	text-decoration: none;
	transition: all 0.5s ease 0s;
}
.post_div .title_link:hover{
	color: #074980 !important;
}

.post_div .content{
	font-size: 0.8rem;
	color: #535561;
}


.post_div .vote_number_div{
	margin-bottom: -10px;
}
.post_div .view_number_div{
	color: #979DA2;
}


/* Summernote 的补充 */
ul.dropdown-menu.note-check {
  width: 200px;
}




.text_div_info{
	background-color: #D3ECFB;
	color: #3294c5;
	padding-top: 0.3rem;
	padding-bottom: 0.2rem;
}
.text_div_success{
	background-color: #C7F6E3;
	color: #55A0AE;
	padding-top: 0.3rem;
	padding-bottom: 0.2rem;
}
.text_div_secondary{
	background-color: #999999;
	color: white;
	padding-top: 0.3rem;
	padding-bottom: 0.2rem;
}

button.btn-default.btn-sm {
  border: #999999 !important;
  background-color: white;
}


.font-sm{
	font-size: 0.8rem;
}
.m-t-sm{
	margin-top:0.5rem;
}
.p-t-2 {
  padding-top: 2rem;
}
